.header {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  min-height: 70px;
  width: 100%;
  display: flex;
  Flex-wrap: wrap;
}
.header__logo {
  margin-left: 139px;
  margin-top: 15px;
}
.link {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
.link_active {
  font-weight: bold;
}
.header__menu_logged {
  position: relative;
  display: inline-block;
  margin-top: 28px;
  margin-left: 350px;
}
.header__menu_logged > li {
  display: inline-block;
  margin-right: 25px;
}
.header__menu_sub_logged {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.header__menu_sub_logged > li {
  padding-top: 15px;
}
.header__menu_logged:hover .header__menu_sub_logged {
  display: block;
}

.header__login_logged {
  margin-top: 20px;
  margin-left: 5px;
}
.header__login_logged::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  /* Dark 10% */

  background: rgba(31, 32, 65, 0.1);
}
.header__login_logged .username {
  padding-left: 30px;
  padding-top: 10px;
}
