body {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
}
.toplogo {
	margin-top: 30px;
	margin-left: 30px;
}
.colorstype {
	display: flex;
	justify-content: space-between;
	margin-top: 67px;
	margin-left: 150px;
}
.colors {
	&__item {
		margin-bottom: 20px;
	}
	&__item_square {
		width: 70px;
		height: 70px;
		/* Dark 100% */
		border-radius: 6px;
	}
	&__item_square_1 {
		background: $dark100;
	}
	&__item_square_2 {
		background: $dark75;
	}
	&__item_square_3 {
		background: $dark50;
	}
	&__item_square_4 {
		background: $dark25;
	}
	&__item_square_5 {
		background: $dark5;
	}
	&__item_square_6 {
		background: $purple;
	}
	&__item_square_7 {
		background: $green;
	}
	&__item__description {
	}
}