.dropdown {
	width: 320px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 5px;
}
option,
select {
	@include body;
	color: $dark75;
	padding-left: 10px;
	padding-top: 10px;
}
.dropdown:focus,
.dropdown:hover {
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: $dark75;
}