.dropdown {
	position: relative;
	width: 320px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 5px;
}
option,
select {
	@include body;
	color: $dark75;
	padding-left: 15px;
	padding-top: 10px;
}
.dropdown:focus,
.dropdown:hover {
	border: 1px solid rgba(31, 32, 65, 0.5);
	color: $dark75;
}
select {
	appearance: none;
	width: 320px;
	background: none;
}

.dropdown .material-icons {
	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: $dark50;
	position: absolute;
	top: 10px;
	right: 0px;
	pointer-events: none; /*"невидима" для мыши, т.е. при клике по ней срабатывает клик по селекту и раскрывается список опшен*/
}