.radio_buttons label {
	@include H3;
}
.radio_buttons form label {
	@include body;
	text-transform: none;
	color: $dark50;
}
.radio_buttons form {
	width: 222px;
	margin-top: 10px;
  display: flex;
}
.radio_div1 {
  margin-right: 20px;
}
/* The container */
.radio_container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
 background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 10px;
}


/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .radio_checkmark {
  background: #FFFFFF;
/* Primary Color */

border: 1px solid #BC9CFF;
box-sizing: border-box;
border-radius: 10px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .radio_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .radio_checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  /* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 10px;
}